

/* ====== carousel section ======= */

.carousel-item img{
    height: 90vh;
}

/* ======= image flexbox section ======= */
.image-main-container{
    padding-top: 50px;
    width: 100%;
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    
}

.img-container{
    width: 380px;
}
.images{
    width: 100%;
    height: 300px;

}

/* ========= image grid section ========== */

.images-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr) ;
    column-gap: 50px;
    row-gap: 50px;
    
   
}
.grid-items>img{
   
    width: 25vw;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.212);

}
.grid-items>img:hover{
    filter: contrast(1.3);
}


.grid-items{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
}




/* ================= cards =============== */
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn{
    background-color: #008504 !important;
    color: white !important;
}
.btn:hover{
    background-color: #00bc06!important;
    border: 1px solid #4f6950;
   color: #fff!important;
}

/* ============= footer ============ */

/* ======= media queries( for tablets) for responsivness========== */


@media screen and (min-width: 576px) and (max-width: 1030px) {

    .carousel-item img{
        height: 50vh;
    }


    /* ========== */


   
    .images-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:repeat(2,1fr) ;
        column-gap: 20px;
        row-gap: 50px;
        padding: 50px;
       
    }
    .grid-items>img{
   
        width: 30vw;
    } 



}


/* ======= media queries( for mobile phones) for responsivness========== */

@media screen and (max-width: 576px) {
    .carousel-item img{
        height: 40vh;
    }
/* ================ */


.image-main-container{
    flex-direction: column;
    flex-wrap: wrap;
    
}
.img-container{
    width: 350px;
    padding: 10px;

}
.images{
    width: 100%;
    height: 300px;

}


/* =================== */
    .images-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows:repeat(1,1fr) ;
       row-gap: 20px;
        padding: 10px;
       
    }
    .grid-items{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .grid-items>img{
   
        width: 80vw;
    }



}



